body {
  background-color: rgb(29, 29, 29);
  color: #fff;
}

.params {
  max-width: 400px;
  margin: auto;
  display: grid;
  row-gap: 20px;
}

pre,
.btn.btn-default {
  background-color: rgb(52, 52, 52);
  border: none;
  color: #fff;
}

.btn.btn-default:hover,
.btn.btn-default:active,
.btn.btn-default.active,
.btn.btn-default.active:hover,
.btn.btn-default:focus {
  background-color: rgb(41, 36, 36);
  border: none !important;
  color: #fff;
}

.btn.btn-default.active:hover {
  background-color: rgb(16, 14, 14);
  border: none !important;
  color: #fff;
}

.btn-back {
  position: fixed;
  top: 25px;
  left: 25px;
  border-radius: 26px;
  padding: 5px 15px;
}

.hide {
  display: none;
  transition: all 1s ease-out;
}

.show {
  display: block;
  transition: all 1s ease-out;
}

.col-md-6 {
  margin-bottom: 20px;
}

/* Form */
.form-field {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
}

.form-element {
  max-width: 275px;
  width: 275px;
}

.form-control {
  background-color: rgb(52, 52, 52);
  border: none;
  color: #fff;
  width: 100%;
}

.countdownlabel {
  position: absolute;
  right: 10%;
  bottom: 25%;
}

.countdownlabel .text {
  color: #676767;
}
.countdownlabel .number {
  font-size: 48px;
  color: #9a9a9a;
}
